.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

.scores {
    display: flex;
    justify-content: space-around;
    margin-top: 50px; 
}

.user-score {
    height: 50px;
    width: 50px;
    background-color: gray;
    text-align: center;
}

.user-score p:last-child {
    margin-top: 60px;
    font-size: 11px;
    font-weight: 600;
}

.computer-score {
    height: 50px;
    width: 50px;
    background-color: gray;
    text-align: center;
}

.computer-score p:last-child {
    margin-top: 60px;
    font-size: 11px;
    font-weight: 600;
}